body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.gray-text {
  color: rgba(128, 128, 128, 0.8);
}

button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Bot */
.bot {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

/* Flexbox */
.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: 4px;
}
